 <div class="user-details">
  <h1> What is Athena </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>GraphQL</h2>
      <img src="{{ "/assets/img/graphql.png" | prepend: site.baseurl }}" width="30%">
      <p>
        Athena makes it easy to build and maintain GraphQL web services for managing file metadata. Athena's API is
        clean and user-friendly, hiding the complexities of complicated data storage and query optimization from
        end-users
      </p>
    </div>
    <div class="tech">
      <h2>Big Data</h2>
      <img src="{{ "/assets/img/openstack-swift.png" | prepend: site.baseurl }}" width="30%">
      <img src="{{ "/assets/img/hadoop.png" | prepend: site.baseurl }}" width="30%">
      <p>Designed for Big Data and scalability, Athena has first-class support for OpenStack Swift and Hadoop HDFS as
        back-ends and flexible pipeline-style architecture which handles nearly any back-end for data storage
      </p>
    </div>
    <div class="tech">
      <h2>OpenStack</h2>
      <img src="{{ "/assets/img/openstack.png" | prepend: site.baseurl }}" width="30%">
      <p>
        The long-term goal of Athena is to make it part of OpenStack ecosystem so to make it a quickly-provisioned and
        easily-managed SaaS infrastructural component.
      </p>
    </div>
</div>
