<div class="user-details">
  <h1> Get Started </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" width="50%" src="{{ "/assets/img/athena-quick-example-icon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Tutorial </h3>
    <ul>
      <li> Bring up a Athena instance in few steps</li>
    </ul>
    <p>
      Automatically configure athena to work with any instance of Swift and interact with file storage API. This lets
      you test what it's like using Athena without putting any effort into setting it up.
    </p>
    <a class="project-link" href="https://github.com/QubitPi/athena/tree/master/athena-examples/athena-example-books">GET STARTED</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" width="40%" src="{{ "/assets/img/documentation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Athena Documentation </h3>
<!--    <ul>-->
<!--      <li> Featured Skills</li>-->
<!--    </ul>-->
    <p>Wanna learn more? Athena provides much more features beyond those in the tutorial.</p>
    <a class="project-link" href="{{ site.baseurl }}/doc-index.html">DOCUMENTATION</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" width="50%" src="{{ "/assets/img/java.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> API Documentation </h3>
    <p>
      Athena has a very comprehensive documentation that makes developer extremely easy to read and contribute to the
      code base.
    </p>
    <a class="project-link" href="#">CHECK IT OUT</a>
  </div>
</div>
